<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marshal.epoch.system.infra.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.marshal.epoch.system.domain.entity.SysMenu">
        <id column="menu_id" property="menuId" jdbcType="BIGINT"/>
        <result column="menu_code" property="menuCode" jdbcType="VARCHAR"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR"/>
        <result column="module_code" property="moduleCode" jdbcType="VARCHAR"/>
        <result column="component" property="component" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="sequence" property="sequence" jdbcType="BIGINT"/>
        <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectForTree" resultType="com.marshal.epoch.core.algorithm.tree.TreeNode">
        select sm.menu_id id,menu_name label,parent_id parentId from sys_menu sm
    </select>
</mapper>
