<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marshal.epoch.system.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.marshal.epoch.system.entity.SysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_DESCRIPTION" jdbcType="VARCHAR" property="roleDescription" />
    <result column="START_ACTIVE_DATE" jdbcType="DATE" property="startActiveDate" />
    <result column="END_ACTIVE_DATE" jdbcType="DATE" property="endActiveDate" />
    <result column="ENABLE_FLAG" jdbcType="VARCHAR" property="enableFlag" />
<!--    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>-->
<!--    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>-->
<!--    <result column="object_version" jdbcType="BIGINT" property="objectVersion"/>-->
  </resultMap>
</mapper>
