<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marshal.epoch.hr.infra.mapper.HrPositionMapper">
    <resultMap id="BaseResultMap" type="com.marshal.epoch.hr.domain.entity.HrPosition">
        <id column="position_id" property="positionId" jdbcType="BIGINT"/>
        <result column="department_id" property="departmentId" jdbcType="BIGINT"/>
        <result column="position_code" property="positionCode" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="parent_position_id" property="parentPositionId" jdbcType="BIGINT"/>
        <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
